.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.blur {
  filter: blur(5000px);
  transition: filter 0.3s ease;
  pointer-events: none;
}

.background {
  background-image: url("/background-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
