[readonly],
[disabled],
[readonly]:focus,
[disabled]:focus {
  background-color: var(--toast-error);
  color: var(--white);
  cursor: not-allowed;
  pointer-events: none;
}

.ng-invalid.ng-touched {
  border-color: var(--toast-error);
}
.error-messages {
  background-color: var(--toast-error);
  color: var(--white);
  border: 1px solid var(--shadow-2);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}

.error-messages::before {
  content: "⚠ Erros:";
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: var(--dark-1);
}

.error-messages span {
  display: block;
  margin-bottom: 5px;
  color: var(--gray-1);
}

.error-messages span:last-child {
  margin-bottom: 0;
}

[data-bs-theme="dark"] .error-messages {
  background-color: var(--dark-2);
  color: var(--toast-error);
  border: 1px solid var(--secondary);
}

[data-bs-theme="dark"] .error-messages::before {
  color: var(--gray-2);
}

[data-bs-theme="dark"] .error-messages span {
  color: var(--primary);
}

.tab-pane.active {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .tab-pane.active {
    grid-template-columns: 1fr 1fr;
  }
}

.hide {
  display: none;
}

i {
  cursor: pointer;
}

input::placeholder {
  color: gray;
  font-style: italic;
  opacity: 1;
}
