<!-- Modal -->
<div class="modal fade" id="password-modal" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle() }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [id]="modalForm()"
          class="tab-content mt-2"
          [formGroup]="formGroup()"
        >
          @for(form of modalForm();track $index){ @for(input of form.data;track
          input.nameId){ @if(input.type==='password'||input.type===''){
          <div class="mb-3">
            <label class="form-label">{{ input.label }}:</label>
            <div class="row">
              <div class="col-md-6 mb-3 d-flex align-items-center">
                <input
                  [type]="input.type"
                  class="form-control"
                  [id]="input.nameId"
                  [formControlName]="input.nameId"
                  [min]="input.min"
                />
                <div class="icon" (click)="toggleIcon(input)">
                  @if(input.type==='password'){<i
                    class="fa-solid fa-eye mx-2"
                  ></i
                  >}@else{ <i class="fa-solid fa-eye-slash mx-2"></i>}
                </div>
              </div>
            </div>
          </div>
          } }}
        </form>
        @if(setError().length>0) {
        <div class="error-messages">
          @for(error of setError();track $index){
          <span>{{ error }}</span>
          }
        </div>
        }

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button
            [disabled]="formGroup().invalid"
            (click)="saveData()"
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-primary"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
