<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-brand logo" src="labsolo.png" />
    @if(isLogin) {
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(auth().permission?.protocol !== null){
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/protocolo"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-expanded="false"
            ><i
              ngbTooltip="Protocolo"
              placement="top"
              class="fa-solid fa-table-list"
            ></i
            ><span class="d-xl-inline-flex">Protocolo</span></a
          >
        </li>
        } @if(auth().permission?.client !==null
        ||auth().permission?.property!==null){
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              ngbTooltip="Cadastro"
              placement="top"
              class="fa-regular fa-clipboard"
            ></i
            ><span class="d-xl-inline-flex">Cadastro</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @if(auth().permission?.client !==null){
            <li>
              <a
                class="dropdown-item"
                routerLink="/clientes"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  ngbTooltip="Clientes"
                  placement="top"
                  class="fa-solid fa-people-group"
                ></i
                ><span class="d-xl-inline-flex">Clientes</span></a
              >
            </li>
            }@if(auth().permission?.property!==null){
            <li>
              <a
                class="dropdown-item"
                routerLink="/propriedades"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  ngbTooltip="Propriedades"
                  placement="top"
                  class="fa-solid fa-house-chimney-window"
                ></i
                ><span class="d-xl-inline-flex">Propriedades</span></a
              >
            </li>
            }
          </ul>
        </li>
        } @if(auth().permission?.cashFlow!==null){
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/caixa"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-expanded="false"
            ><i
              class="fa-solid fa-sack-dollar"
              ngbTooltip="Caixa"
              placement="top"
            ></i
            ><span class="d-xl-inline-flex">Caixa</span></a
          >
        </li>
        } @if(auth().permission?.partner!==null){
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              ngbTooltip="Parceiros"
              placement="top"
              class="fa-regular fa-handshake"
            ></i
            ><span class="d-xl-inline-flex">Parceiros</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/escritorios"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  ngbTooltip="Escritórios"
                  placement="top"
                  class="fa fa-building"
                ></i
                ><span class="d-xl-inline-flex">Escritórios</span></a
              >
            </li>
            <li class="nav-item">
              <a
                class="dropdown-item"
                routerLink="/parceiros"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  ngbTooltip="Parceiros"
                  placement="top"
                  class="fa-regular fa-handshake"
                ></i
                ><span class="d-xl-inline-flex">Parceiros</span></a
              >
            </li>
          </ul>
        </li>
        <!-- } @if(auth().permission?.chemical!== null){ -->
        } @if(false){
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/regentes"
            routerLinkActive="active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-expanded="false"
            ><i
              class="fa-solid fa-flask-vial"
              ngbTooltip="Reagentes"
              placement="top"
            ></i
            ><span class="d-xl-inline-flex">Reagentes</span></a
          >
        </li>
        } @if(auth().permission?.users!==null){
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="fa-solid fa-users-gear"
              ngbTooltip="Gestão de Usuários"
              placement="top"
            ></i
            ><span class="d-xl-inline-flex">Gestão de Usuários</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @if(auth().permission?.users !==null){
            <li>
              <a
                class="dropdown-item"
                routerLink="/usuarios"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  class="fa-solid fa-users"
                  ngbTooltip="Usuários"
                  placement="top"
                ></i
                ><span class="d-xl-inline-flex">Usuários</span></a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                routerLink="/permissoes"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                ><i
                  class="fa-regular fa-id-card"
                  ngbTooltip="Permissão"
                  placement="top"
                ></i
                ><span class="d-xl-inline-flex">Permissão</span></a
              >
            </li>
            }
          </ul>
        </li>
        }
      </ul>

      <div class="d-flex justify-content-between">
        <div class="theme mx-2" (click)="toggleTheme()">
          @if(colorTheme==='dark'){
          <i
            class="fa-solid fa-sun fa-2x"
            ngbTooltip="Escuro"
            placement="top"
          ></i>
          } @if(colorTheme==='light'){
          <i
            class="fa-solid fa-moon fa-2x"
            ngbTooltip="Claro"
            placement="top"
          ></i>
          }
        </div>

        @if(toSelectYear){
        <form class="d-flex me-3">
          <select
            (change)="onChangeYear($event)"
            class="form-select form-select-sm"
          >
            <option value="">Selecione o ano</option>
            @for(year of years;track $index){
            <option [value]="year">{{ year }}</option>
            }
          </select>
        </form>
        }

        <div class="nav-item dropdown user-info">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="true"
          >
            <i
              class="fa-solid fa-user-tie"
              [ngbTooltip]="name"
              placement="top"
            ></i>
            <span class="d-xl-inline-flex">{{ name }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#password-modal"
                ><i
                  class="fa-solid fa-unlock"
                  ngbTooltip="Mudar senha"
                  placement="top"
                ></i
                ><span class="d-xl-inline-flex">Mudar senha</span></a
              >
            </li>
            <li (click)="onLogout()">
              <a class="dropdown-item"
                ><i
                  class="fa-solid fa-right-from-bracket"
                  ngbTooltip="Logout"
                  placement="top"
                ></i
                ><span class="d-xl-inline-flex">Logout</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    }
  </nav>
  <!-- <app-toast /> -->
</header>
<app-password-modal
  [modalTitle]="title()"
  [modalForm]="modalForm()"
  [formGroup]="form()"
  (formEmitter)="onModalSave($event)"
  (input)="toggleIcon($event)"
/>
