@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Globalization

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@("http://" + Context.Request.Host.ToString() + "/styles.css")" />
    <title>Report</title>
</head>
<body>
<footer class="footer">
    A Custódia das amostras é de 15 dias após emissão do relatório de ensaios.
    Não se aplica a amostras perecíveis. 
    Os resultados têm significado restrito e aplicam-se somente às amostras ensaiadas. 
    Este relatório somente poderá ser reproduzido em sua totalidade. 
    A LABSOLO se isenta de qualquer responsabilidade pela reprodução parcial do mesmo.  
</footer>
    
</body>
</html>
